{%extends 'base2.html'%}

{%block content%}

<div class="center">
     <div class="card-body">
        <h4 class="card-title">Especialidades</h4>
        <br/>
        <a name="" id="" class="btn btn-info" href="{% url 'especialidad-create' %}" role="button">Registrar especialidad</a>
        <br/>
        <br/>
        <div class="table-responsive-sm">
            <table class="table table-primary" width="90%">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for especialidad in especialidades %}
                    <tr class="">
                        <td scope="row">{{ especialidad.especialidad_id }}</td>
                        <td>{{ especialidad.especialidad_nombre }}</td>
                         <td>
                        <a name="" id="" class="btn btn-info" href="{% url 'especialidad-update' especialidad.especialidad_id %}" role="button">Editar</a>
                        | 
                        <a name="" id="" class="btn btn-danger" href="{% url 'eliminar_especialidad' especialidad.especialidad_id %}" role="button">Borrar</a> 
                        </td>
                    </tr>
               
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
    </div>
    <div class="card-footer text-muted">
        Footer
    </div>



{%endblock content%}